ConsoleApp15/.vs
ConsoleApp15/.vs/ConsoleApp15/v15/.suo
ConsoleApp15/.vs/ConsoleApp15/v15/Server/sqlite3/storage.ide-shm
ConsoleApp15/.vs/ConsoleApp15/v15/Server/sqlite3/storage.ide-wal
WindowsFormsApp1/.vs/WindowsFormsApp1/v15/.suo
WindowsFormsApp1/.vs/WindowsFormsApp1/v15/Server/sqlite3/storage.ide-shm
